@model IEnumerable<Usuario>

@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <a asp-action="Nuevo" class="btn btn-success">Nuevo Usuario</a>
    </div>
</div>
<br />
<div class="row">
    @foreach (Usuario usuario in Model)
    {
        <div class="col-md-3">
            <img class="img-thumbnail" src="@usuario.Fotografia" style="width:200px;height:200px"/>
            <h3>@usuario.NombreCompleto</h3>
            <h4>@usuario.Direccion</h4>
            <h4>
                @usuario.FechaCreacion.ToString("dd MMM yyyy")
            </h4>
            <p>@usuario.PerfilGeneral</p>

            <div class="row">
                <div class="col-md-6">
                    @Html.ActionLink("Eliminar", "Eliminar", new { id = usuario.Id }, new { onclick = "return confirm('¿Desea eliminar este usuario?')", @class = "btn btn-danger" })
                </div>
                <div class="col-md-6">
                    @Html.ActionLink("Editar", "Actualizar", new { id = usuario.Id }, new {@class = "btn btn-info" })
                </div>
            </div>
        </div>
    }
</div>


